.container {
    padding: 0 2rem;
}

.main {
    min-height: 90vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createNewQuiz{
    border: solid 2px black;
    padding: 0 5px;
    color: blue;
}

.createNewQuiz:hover{
    cursor: pointer;
    border: solid 2px blue;
    color: black;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
}